{% extends 'base.html.twig' %}

{% block title %}UserDashboard{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{#siempre se ejecuta este if#}
{% if app.user %}
        <div class="mb-3 d-flex justify-content-between m-3">
            <p>You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a></p>
            <p>Your account was created at {{app.user.createdAt|date('d-m-Y')}}</p>
        </div>
    {% endif %}
<div class="example-wrapper mb-3 d-flex justify-content-between m-3">
    <div>
        <h1>Hello {{user.artistName}}</h1>
        <img src="{{ asset('uploads/users_images/'~user.image) }}" alt="User image">
    </div>
    <div>
        <h3>Your Artis Name: {{user.artistName}}</h2>
        <h3>Your Real Name: {{user.realName}}</h2>
        <h3>About you: {{user.description}}</h2>
        <h3>You are interrested in Styles:</h2>
        {%for style in user.interrestedInStyles %}
        <p>{{style}}</p>
        {%endfor%}
    </div>
</div>
<hr>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<div>
    <div>
        <div class="example-wrapper mb-3 d-flex justify-content-between m-3">
            <h2>Your Songs</h2>
            <button id ="toggler">
                <i class="fas fa-upload"></i>You want add a new song?
            </button>
        </div>    
                <div id="uploadForm" style="display: none;" >
                        {{ form_errors(uploadSong) }}
                        {{ form_start(uploadSong) }}
                            <div class="col-md-4 form_padding">
                                {{ form_row(uploadSong.name) }}
                            </div>
                            <div class="col-md-4 form_padding">
                                {{ form_row(uploadSong.description) }}
                            </div>
                            <div class="col-md-4 form_padding">
                                {{ form_row(uploadSong.location) }}
                            </div>
                            <div class="col-md-4 form_padding">
                                {{ form_row(uploadSong.image) }}
                            </div>
                            <div class="col-md-4 form_padding">
                                {{ form_row(uploadSong.genre) }}
                            </div>
                        <div class="d-grid gap-2 m-3">
                            <button type="submit" class="btn btn-secondary form_padding">Upload a Song</button>
                        </div>
                        {{ form_end(uploadSong) }}
                        </div>
                </div>
                <hr>
                {%for song in user.songs %}
                    <div class="mb-3 d-flex justify-content-between m-3">
                        <div>
                            <h3>{{song.name}}</h3>
                            
                            <p>{{song.createdAt|date('d-m-Y')}}</p>
                        </div>
                        <div>
                            <p>{{song.description}}</p>
                        </div>
                        <div>
                            <img src="{{ asset('uploads/songs_images/'~song.image) }}" alt="Song image" style="width: 80px; height: 80px;">
                        </div>
                    </div>
                {%endfor%}
    </div>
</div>
{# <h2>{{ dump(app.user) }}</h2>#}
{% endblock %}
